<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGcl_GCfJZORjE_HUq1tsLui0D8abxjvs</string>
	<key>GCM_SENDER_ID</key>
	<string>64674815816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.hawlna</string>
	<key>PROJECT_ID</key>
	<string>hawlna-5ec01</string>
	<key>STORAGE_BUCKET</key>
	<string>hawlna-5ec01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64674815816:ios:47e981e47e30fcdafe5d7d</string>
</dict>
</plist>